langchain
langgraph
fastapi
uvicorn
qdrant-client
python-dotenv
pydantic-settings
numpy
backoff
scikit-learn
PyMuPDF
python-docx
markdown
requests
httpx
fastembed
openpyxl
pandas
langchain_community
trafilatura
faiss-cpu
openai
langchain-openai
langfuse
tavily
aio-pika>=9.4,<10
